body{
    background-color: #f6f5f5;
    overflow: hidden;
}

.header{
    width: 79em;
    height: 4.5em;
    background-color: white;
    margin-left: 10%;
    box-shadow: 0px 5px 2px 2px #c7c2c1;
}

.side_bar{
    margin-top: -112px;
    padding: 5px;
    width: 12em;
    height: 46em;
    background-color: #286fd7;
    border-radius: 1%;
}

.search{
    box-shadow: 0px 1px 1px 1px #c7c2c1;
    margin-left:6%;
    margin-top: 1%;
    border-radius:4%;
    border:none;
    width:17em;
    height: 2em;
}

.dropbtn {
    color: black;
    margin-top: -100px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
      margin-left: 90%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;

    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
  .dropdown:hover .dropbtn {
    color: #286fd7;
  }

  .mySlides{
    height:250px;
    width:250px;
    margin-left:50%;
    margin-top:110px;
  }