@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
  
  body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: skyblue;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
	height: 100vh;
	overflow:hidden;
	text-transform: uppercase;
}

.faculty{
	height: 300px;
	width: 280px;
	position: fixed;
	bottom: -20px;
	right: 160px;
	z-index: -0.5;
	pointer-events: none;
	animation: avatar 1s ease 1;
}

.faculty img{
	height: 300px;
	width: 280px;
}

.welcome{
	height:80px;
	width: 220px;
	position: fixed;
	bottom: 230px;
	right: 25px;
	z-index: -0.5;
	pointer-events: none;
	animation: message 2s ease 1;
}

.welcome img{
	height:70px;
	width: 100px;
}

.wave1{
	height: 280px;
	width: 650px;
	position: absolute;
	top: 50%;
	left:-10px;
	border-radius: 80%;
	transform: translateY(-45%);
	box-shadow:inset 0 -10px 10px 2px #377994;
	z-index: -1;
}

.main{
	width: 300px;
	padding: 20px;
	background-color: #101010;
	border-radius: 5px;
	box-shadow: 0 0 15px #000;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);

}

#login{
	position: relative;
	top: -22px;
	margin-top:0;
	height: 80px;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 3px;
	line-height: 80px;
}

#login img{
	height: 60px;
	width: 100px;
	float: left;
    margin: 10px 0 10px 30px;
}

.main input[type="text"],input[type="password"]{
	border: none;
	color: #fff;
	width: 240px;
	background-color: transparent;
	font-size: 16px;
	border-bottom: 1px solid  mediumseagreen;
	margin-left: 25px;
	padding: 10px 0 10px 10px; 
}
 
.main input[type="submit"]{
	margin-top: 10px;
	border-color: 1px solid #fff;
	width: 200px;
	padding: 10px 0;
	margin :20px 0 0 50px; 
	border-radius:4px;
	border-width: 0.5px ;
	font-size:15px;
	border: none;
	background-color: mediumseagreen;
	color: #000;
	transition: 0.3s ease;
	cursor: pointer;
	font-weight: 600;
}

p{
	color: #fff;
	padding-left: 10px;
}


.b{
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	margin-right: 0;
	margin-top: 25px;
	float: right;
	padding: 0 0 10px 2px;
	transition: 0.2s ease;
	

}
.b:hover{
	color:  mediumseagreen;
	letter-spacing: 0.7px;
}


.a{
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	margin-left: 0;
	margin-top: 25px;
	float: left;
	padding:  0 2px 10px 0;
	transition: 0.2s ease;
	
}
.a:hover{
	color:  mediumseagreen;
	letter-spacing: 0.7px;
}

.google{
	height: 30px;
	width: 90%;
	margin: auto;
	background-color: white;
	margin-top: 80px;
	margin-bottom: 20px;
	border-radius: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

.google a{
	text-decoration: none;
	color: black;
}

.google img{
	height: 25px;
	width: 25px;
	float: left;
	position: relative;
    top: 3px;
    left: 4px;
    margin-left: 20px;
    margin-right: 12px;
    background: black;
    border-radius: 50%;
}

.wave2{
	height: 280px;
	width: 650px;
	position: absolute;
	top: 50%;
	right:-10px;
	border-radius: 80%;
	transform: translateY(-45%);
	box-shadow:inset 0 10px 10px 2px #377994;
	z-index: -1;
}

@keyframes avatar{
	0%{
		bottom:-50%;
	}
	100%{
		bottom: -20px;
	}
}

@keyframes message{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}